*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: darkslateblue;
}

.wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.fa-solid{
    font-size: 10rem;
}

.lg-text{
    font-size:2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sm-text{
    font-size: 1.5rem;
}
#dyanmic{
    position: relative;
    display: inline-block;
}

#dyanmic::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

#dyanmic.active::after{
    display: none;
}